@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --white-color: #ffffff;
    --gradient-white:#eddebf67;
    --gradient-red: #B11313;
    --black-color: #000000;
    --gradient-grey: #C4C4C4;
    --gradient-black: #0D0E09;
    --light-grey: #c4c4c4;
}

h1{
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 400;
}

button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
}

/* Style pour la navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

ul{
    list-style: none;   
}

nav ul a{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
}
nav ul a:hover{
    color: var(--yellow-color);
}

/* Style pour la partie en-tete hero */
#hero{
    background-image: url(Assets/Illustrations/Bathome1.png);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #19587d;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

#hero .title{
    margin: 20px 0;
}

.btn{
    color: var(--white-color);
    text-decoration: none;
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white) ,var(--gradient-red)
    );
    box-shadow: var(--black-color) 5px 5px 60px;
}

#hero .arrow{
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 220px;
}

.scroll img{
    margin-top: 15px;
}

/* Style pour les cartes de personnage */

#batman-cinema, #nemesis, #allies, #justice-league, #multimedia{
    margin-top: 40px;
}

.title{
    font-weight: bold;
    margin: 30px 0;
}

.text{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}

.personnage{
    display: flex;
    justify-content: space-between;
}

.personnage-info{
    text-align: center;
    padding: 15px;
}

/* Style pour la section justice league */
.img-justice-league{
    background-image: url("Assets/Illustrations/Bathome11.png" );
    background-size: cover;
    height: 800px;
}

/* Style pour la section multimedia */
#multimedia button{
    position: relative;
    top: 160px;
    background: none;
    border: none;
}

#multimedia button.right{
    right: -85%;
}

#multimedia .slider-multimedia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}

#multimedia .slider-img{
    width: 100%;
}

#multimedia .slider-content{
    padding: 15px;
    background: linear-gradient(
        120deg,var(--gradient-white) ,var(--gradient-black)
    );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#multimedia p{
    font-size: 14px;
}

#multimedia p .yellow-text{
    color: var(--yellow-color);
}

/* Style pour la section Contact et formulaire */
#contact{
    background: linear-gradient(
        120deg,var(--gradient-white) ,var(--gradient-black)
    );
    padding: 20px 0;
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

#contact .form{
    width: 50%;
    margin: 0 auto;
}

#contact h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

#contact .title{
    display: block;
    margin: 20px 0;
}

#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 90%;
    border-bottom: 2px solid var(--light-grey);
    background-color: transparent;
}

#contact .form .grey{
    color: var(--light-grey);
    font-size: 15px;
    border-bottom: 2px solid var(--light-grey);
}

#contact .news{
    color: var(--light-grey);
    font-size: 15px;
    margin: 15px 0;
    border-bottom: 2px solid var(--light-grey);
    width: 90%;
}

#contact .icon img{
    transform: rotate(90deg);
    width: 20px;
    margin-top: 10px;
}

::placeholder{
    color: var(--light-grey);
    font-size: 15px;
}

#contact .btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#contact .form input[type='radio']{
    opacity: 0;
}

#contact .form .btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(
        120deg,var(--gradient-grey) ,var(--blue-color)
    ) 1;
    font-size: 15px;
}

#contact .form input[type='submit']{
    display: block;
    width: 150px;
    margin: 25px auto;
    padding: 15px 0;
    cursor: pointer;
    background: linear-gradient(
        100deg,var(--gradient-white) ,var(--gradient-red)
    );
}

#citation{
    margin: 90px;
}

#citation .citation-item{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citation .citation-auteur{
    padding-top: 30px;
    font-size: 12px;
    font-family: 'rajdhani';
}

#citation .guillemet-close{
    float: right;
}

/* Style pour le footer */
footer{
    margin-top: 150px;
}

footer .text-footer{
    text-align: center;
    font-size: 15px;
}

footer .social-footer{
    text-align: center;
    margin: 40px 0;
}

footer .social-item{
    padding: 10px;
}
